body{text-align: center;}

#title {
	margin: 20px auto;        	
	font-size: 40px;
	font-weight: bold;
}

#member-control{
	margin: auto;
	font-size: 20px;
}

.posts-control {
    margin: auto;
    max-width: 75%;
    font-size: 20px;
}

 .posts-control table tr > :first-child {
    text-align: left;
    width:100%;
}

.posts-control table td ,
.posts-control table th{
    padding: 0px 25px;
}

footer{
    margin-top: 100px;
    font-family: "Comic Sans MS";
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
