<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>	
</head>
<body>
<div id=title>
	<p>OneMillion</p>
</div>
<div id=member-control>
    <a href="something">Members</a>
    <a href="something">Profile</a>    
</div>
<div class="posts-control">
<hr>
<table>    
    	<th>
       	<a href="{{ url_for("topic_add") }}">Create</a>
    	</th>
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {%for index ,post in posts%}
	<tr>
        <td><a href="{{ url_for("topic_show"  ,post_id = post.id) }}">{{ index + 1 }} {{"•"+post.title}}</a></td>
        <td><a href="{{ url_for("topic_edit"  ,post_id = post.id) }}">edit</a></td>
        <td><a id="deleteBtn"  href="#" post_id="{{ post.id) }}">delete</a></td>
    </tr>
    {%endfor%}
</table>
</div>

<!-- imported js file -->
<script src="/static/javaScript.js"></script>
</body>
<footer>
    Done by: Em-Enzo
</footer>
</html>
